.gpt3__footer{
    font-family: var(--font-family);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-footer);
}

.gpt3__footer-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.gpt3__footer-heading h1{
    font-weight: 800;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.gpt3__footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    margin-bottom: 10rem;
}

.gpt3__footer-btn p{
    font-size: 18px;
    line-height: 21px;
}

.gpt3__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    row-gap: 2rem;
}

.gpt3__footer-links div{
    width: 100%;
    max-width: 250px;
}

.gpt3__footer-links_logo{
    display: flex;
    flex-direction: column;
}

.gpt3__footer-links_logo img{
    width: 120px;
    margin-bottom: 1rem;
}

.gpt3__footer-links p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.gpt3__footer-links_div h4{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.gpt3__footer-copyrights{
    margin-top: 4rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyrights p{
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 550px){
    .gpt3__footer-heading h1{
        font-size: 28px;
        line-height: 38px;
    }   
    .gpt3__footer-btn {
        margin-bottom: 5rem;
        padding: 1rem 1.5rem;
    }
    .gpt3__footer-btn p{
        font-size: 14px;
        line-height: 21px;
    }
}